body
{
	background-image: url("../pics/background.gif");
	background-repeat: inherit;	
}
.navbar{
    font-family:'Verdana';
	font-size: 15px ;
	color: #fadee3;
}

.navbar a{
	color: #fadee3;
}

.bg-dark {
    background-color: black !important;
}

.content{
	width: 85%;
	height: 100%;
	padding: 2px 10px;
	padding-left: 16%;
	text-align: justify;
	font-family:'Verdana';
	font-size: 15px ;
	color: #fadee3;
}

.img-pfp{
	width: 40%;
}

.content-left{
	width: 25%;
	height: 100%;
}

.content-right{
	width: 60%;
	height: 100%;
}

footer{
  text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: #fadee3;
}